{% extends 'notes/layout.html' %} {% block title %}Сторінка про нас{% endblock %}
{% block content %}
<div class="features">
  <h1>Сторінка про нас</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, minus porro,
    sint reiciendis dolores explicabo error magnam pariatur nihil ipsum dolor
    perspiciatis saepe odit hic doloremque at ut est recusandae?
  </p>

  <p>{% include 'notes/test.html' %}</p>
  <button class="btn btn-danger">Натисни на мене</button>
</div>
{% endblock %}
